@namespace Blazr.App.Invoice.UI

@inject IToastService ToastService
@inject InvoiceItemEditBrokerFactory InvoiceItemUIBrokerFactory
@inject NavigationManager NavManager

<PageTitle>@_formTitle</PageTitle>

<div class="modal-header">
    <div class="h4">
        @_formTitle
    </div>
</div>

<EditForm EditContext=this.UIBroker.EditContext OnValidSubmit="this.OnSaveAsync">

    <div class="modal-body px-3">

        <Blazr.FluentValidation.BlazrFluentValidator TRecord="DmoInvoiceItemEditContext" TValidator="DmoInvoiceItemEditContextValidator" />
        <BlazrEditStateTracker />

        <div class="row">

            <BlazrTextControl UpdateOnInput
                              class="form-control mb-2"
                              ColumnCss="col-12 col-md-8 mb-2"
                              Label="Description"
                              @bind-Value="this.UIBroker.RecordEditContext.Description" />

            <BlazrNumberControl UpdateOnInput
                                class="form-control mb-2"
                                ColumnCss="col-12 col-md-8 mb-2"
                                Label="Amount £"
                                @bind-Value="this.UIBroker.RecordEditContext.Amount" />

        </div>

    </div>

    <div class="modal-footer bg-light">

        <EditFormButtons SaveOnSubmit
                         ColumnCss="col-12 mb-3 text-end"
                         Options=_editFormButtonsOptions
                         DirtyExit=this.OnExit
                         Exit=this.OnExit
                         Save=this.OnSaveAsync
                         IsNewRecord=_isNewRecord />

    </div>

</EditForm>

@code {
    [CascadingParameter] private IModalDialog? ModalDialog { get; set; }
    [Parameter, EditorRequired] public InvoiceItemId Uid { get; set; } = default!;

    private EditFormButtonsOptions _editFormButtonsOptions = new()
        {
            UpdateText = "Update Item",
            SaveText = "Process Item"

        };

    private bool _isNewRecord => this.UIBroker.IsNew;

    private InvoiceItemEditBroker UIBroker = default!;
    private string _exitUrl = "/";
    private string _formTitle = "Invoice Item Editor";
    private bool _isDirty;
    private bool _isClean => !_isDirty;
    private bool _stateStoreAttached;
    private BlazrEditStateStore? _store;

    protected override void OnInitialized()
    {
        this.UIBroker = this.InvoiceItemUIBrokerFactory.GetUIBroker(this.Uid);

        if (!this.UIBroker.IsNew)
            this.UIBroker.EditContext.Validate();
    }

    protected override void OnParametersSet()
    {
        _isDirty = this.UIBroker.EditContext.GetEditState();
    }

    protected override void OnAfterRender(bool firstRender)
    {
        // The EditContext is only created after the first render.
        // We need to make sure the StateStore has been attached to the EditContext
        // before we try and get it.
        // The only place we can do this is in the second OnAfterRender UI event
        _store = _store ?? this.UIBroker.EditContext.GetStateStore();
        if (_store is not null && !_stateStoreAttached)
        {
            _store.StoreUpdated += OnEditStateMayHaveChanged;
            _stateStoreAttached = true;
        }
    }

    private void OnEditStateMayHaveChanged(object? sender, EventArgs e)
    {
        this.StateHasChanged();
    }

    private async Task OnSaveAsync()
    {
        if (!this.UIBroker.EditContext.Validate())
        {
            this.ToastService.ShowError("The record data is not valid.  Fix the highlighted errors.");
            return;
        }

        await this.UIBroker.ProcessItemAsync();

        if (this.UIBroker.LastResult.IsSuccess)
            ModalDialog?.Close(ModalResult.OK());
    }

    private Task OnExit()
    {
        if (this.ModalDialog is null)
            this.NavManager.NavigateTo(_exitUrl);

        ModalDialog?.Close(ModalResult.Exit());
        return Task.CompletedTask;
    }

    public void Dispose()
    {
        this.UIBroker.EditContext.OnFieldChanged -= OnEditStateMayHaveChanged;
    }
}