@namespace Blazr.App.UI

@inject IMessageBus MessageBus


<div class="row">

    <div class="col-12 col-lg-6 mb-2">
        <BlazrTextViewControl Label="Id" Value="@_invoice.Id.ToString(true)" />
    </div>

    <div class="col-12 col-lg-6 mb-2">
        <BlazrTextViewControl Label="Customer Name" Value="@_invoice.Customer.Name" />
    </div>

</div>

<div class="row">

    <div class="col-12 col-lg-6 mb-2">
        <BlazrTextViewControl Label="Date" Value="@_invoice.Date" />
    </div>

    <div class="col-12 col-lg-6 mb-2">
        <BlazrTextViewControl Label="Total Amount" Value="@_invoice.TotalAmount" />
    </div>

</div>

@code {
    [CascadingParameter] private InvoiceEntityMutor Mutor { get; set; } = default!;
    private DmoInvoice _invoice => Mutor.InvoiceEntity.InvoiceRecord;

    protected override void OnInitialized()
    {
        ArgumentNullException.ThrowIfNull(this.Mutor);
        this.MessageBus.Subscribe<InvoiceEntity>(OnContextStateChanged);
    }

    private void OnContextStateChanged(object? sender)
        => this.InvokeAsync(StateHasChanged);

    public void Dispose()
        => this.MessageBus.UnSubscribe<InvoiceEntity>(OnContextStateChanged);
}