@page "/counter"
@using Blazr.App.UI

<PageTitle>Counter</PageTitle>

<CustomerGridForm GridContextId="RouteId" />
<span>Hello</span>
@code {
    private static Guid RouteId = Guid.NewGuid();
}

@* <h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
 *@