@namespace Blazr.App.UI

@inherits EditorFormBase<DmoCustomer, CustomerId, CustomerEditContext, CustomerUIEntityProvider>

<PageTitle>@this.FormTitle</PageTitle>

<div class="modal-header">
    <div class="h4">
        @this.FormTitle
    </div>
</div>

<EditForm EditContext=this.Presenter.EditContext OnValidSubmit=this.OnSave>

    <div class="modal-body px-3">

        <Blazr.FluentValidation.BlazrFluentValidator TRecord="CustomerEditContext" TValidator="CustomerEditContextValidator" />
        <BlazrEditStateTracker LockNavigation=this.LockNavigation />

        <div class="row">

            <BlazrTextControl UpdateOnInput
                              class="form-control mb-2"
                              ColumnCss="col-12 col-md-8 mb-2"
                              Label="Customer Name"
                              @bind-Value="this.Presenter.EditMutator.CustomerName" />
        </div>

    </div>

    <div class="modal-footer bg-light">

        <EditFormButtons SaveOnSubmit
                         ColumnCss="col-12 text-end"
                         Options=this.editFormButtonsOptions
                         DirtyExit=this.OnExit
                         Exit=this.OnExit
                         IsNewRecord=this.IsNewRecord
                         Reset=this.OnReset />

    </div>

</EditForm>


@code {
    protected string FormTitle => $"{this.UIEntityService.SingleDisplayName} Editor";
}