@namespace Blazr.Uranium

@using Blazr.Manganese

<div hidden="@Result.Succeeded">
    <div class="alert alert-danger d-flex align-items-center my-2 p-2" role="alert">
        @Result.Message
    </div>
</div>

@code {
    [Parameter, EditorRequired] public Result Result { get; set; }
}
