@namespace Blazr.App.UI

@using Blazr.Cadmium.UI
@using Blazr.Indium

@inherits EditorModalFormBase<DmoCustomer, CustomerId, CustomerEditContext>

<PageTitle>@this.FormTitle</PageTitle>

<div class="modal-header">
    <div class="h4">
        @this.FormTitle
    </div>
</div>

<EditForm EditContext=this.UIBroker.EditContext OnValidSubmit=this.OnSave>

    <div class="modal-body px-3">

        <BlazrFluentValidator TRecord="CustomerEditContext" TValidator="CustomerEditContextValidator" />
        <BlazrEditStateTracker LockNavigation=this.LockNavigation />

        <div class="row">

            <div class="col-12 col-md-8 col-xl-4 mb-2">
                <BlazrTextViewControl Label="Id" Value="@this.UIBroker.EditMutator.BaseRecord.Id" />
            </div>

        </div>

        <div class="row">

            <BlazrTextControl class="form-control mb-2"
                              ColumnCss="col-12 col-md-8 col-xl-4 mb-2"
                              Label="Name"
                              @bind-Value="this.UIBroker.EditMutator.Name" />

        </div>

    </div>

    <div class="modal-footer bg-light">

        <EditFormButtons SaveOnSubmit
                         ColumnCss="col-12 text-end"
                         Options=this.editFormButtonsOptions
                         DirtyExit=this.OnExit
                         Exit=this.OnExit
                         IsNewRecord=this.IsNewRecord
                         Reset=this.OnReset />

    </div>

</EditForm>

